@import 'activeadmin_addons/all';
// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

.status_tag.open { background: #009000; }
.status_tag.close { background: #900000; }

#hide_values {
  position: absolute !important;
  right: 0;
}

.hidden-value {
  color: transparent;
  user-select: none;
}

// !important needed for links
a.hidden-value {
  color: transparent !important;
  user-select: none;
}
